# vscode settings
.vscode

# don't trace executable(including test executable)
sberf
tsb

# build folder
build
build_bpf

# eBPF header
vmlinux.h

null

*.o
*.skel.h

# 
note
zdeprecated
nohup.out

*.svg
*.txt
*.data
